@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: Verdana, Geneva, sans-serif;
  }
}

#slider img {
    @apply absolute top-0 left-0 w-full h-full object-cover opacity-0 transition-opacity duration-2000;
}

#slider img.fadeIn {
    @apply opacity-100;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-pamex-lighter: var(--color-sky-400);
    --color-pamex-light: var(--color-sky-600);
    --color-pamex: var(--color-sky-800);
    --color-pamex-dark: var(--color-sky-950);

    --color-pamex-lighter-gray: var(--color-gray-100);
    --color-pamex-light-gray: var(--color-gray-200);
    --color-pamex-dark-gray: var(--color-gray-800);
    --color-pamex-darker-gray: var(--color-gray-900);

    /*derived variables*/
    --color-pamex-bg: var(--color-pamex-lighter-gray);
    --color-pamex-text: var(--color-pamex-darker-gray);

    --color-pamex-header: var(--color-pamex);
    --color-pamex-header-text: var(--color-pamex-lighter-gray);
    --color-pamex-header-text-hover: var(--color-pamex-lighter);
    --color-pamex-subheader: var(--color-pamex-dark);

    --color-pamex-hero-subtitle: var(--color-pamex-lighter);

    --color-pamex-about-text: var(--color-pamex-dark-gray);
    --color-pamex-bold-text: var(--color-pamex);

    --color-pamex-services: var(--color-pamex-light-gray);
    --color-pamex-service: var(--color-white);

    --color-pamex-footer: var(--color-pamex-dark);
    --color-pamex-footer-text: var(--color-white);

    --color-pamex-scroll: var(--color-pamex-light);
    --color-pamex-scroll-hover: var(--color-pamex-lighter);
    --color-pamex-scroll-text: var(--color-white);
}

@layer base {
  .dark {
    --color-pamex-bg: var(--color-pamex-dark);
    --color-pamex-text: var(--color-pamex-lighter-gray);

    --color-pamex-about-text: var(--color-pamex-light-gray);
    --color-pamex-bold-text: var(--color-pamex-lighter);

    --color-pamex-services: var(--color-pamex-dark-gray);
    --color-pamex-service: var(--color-pamex-darker-gray);

    --color-pamex-footer: var(--color-pamex-darker-gray);
  }
}


@layer components {
    .usluga {
        @apply bg-pamex-service p-6 rounded-2xl shadow hover:shadow-lg transition
    }
    .usluga-naslov {
        @apply text-xl font-bold mb-2 text-pamex-bold-text
    }
    .usluga-opis {
        @apply text-pamex-about-text
    }
}